<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Reporte de Gerentes con Experiencia')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Reporte Visual')"></nav>

    <h1>Reporte de Gerentes con Experiencia</h1>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/busqueda}">Regresar</a>

    <table class="table">
        <thead>
        <tr>
            <th>Departamento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Salario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detalle: ${detalleEmpleados}">
            <td th:text="${detalle.getDepartment()}"></td>
            <td th:text="${detalle.getNombre()}"></td>
            <td th:text="${detalle.getApellido()}"></td>
            <td th:text="${detalle.getSalary()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>