<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Reporte de Empleados con Mayor Salario por Departamento')"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Reporte Visual')"></nav>

    <h1>Reporte de Empleados con Mayor Salario por Departamento</h1>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/busqueda}">Regresar</a>

    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Departamento</th>
            <th>Salario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detalle: ${detalleEmpleados}">
            <td th:text="${detalle.nombre}"></td>
            <td th:text="${detalle.apellido}"></td>
            <td th:text="${detalle.departamento}"></td>
            <td th:text="${detalle.salario}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>