<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Reporte de departamento por país y ciudad')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Reporte Visual')"></nav>

    <h1>Reporte de departamento por país y ciudad</h1>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/busqueda}">Regresar</a>

    <table class="table">
        <thead>
        <tr>
            <th>País</th>
            <th>Ciudad</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detalle: ${detalleEmpleados}">
            <td th:text="${detalle.getPais()}"></td>
            <td th:text="${detalle.getCiudad()}"></td>
            <td th:text="${detalle.getCantidad()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>