<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Gestion de Búsquedas')"></head>

<body class="container">
<nav th:replace="fragments/navbar.html :: navbar( active = 'Busqueda')"></nav>

<h1>Gestión de Búsquedas</h1>
<a th:href="@{/busqueda/detalle}">Empleados con Mayor Salario a 15000</a><br />
<a th:href="@{/busqueda/detalle2}">Reporte de salario máximo por departamento</a><br />
<a th:href="@{/busqueda/detalle3}">Reporte de departamento por país y ciudad</a><br>
<a th:href="@{/busqueda/detalle4}">Reporte de gerentes con experiencia</a>
</body>
</html>
