<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Editar Empleado')"></head>
<body class="container">
<nav th:replace="fragments/navbar.html :: navbar( active = 'Empleados')"></nav>
    <h2>Editar Empleado</h2><hr />
        <form method="post" th:action="@{/employees/guardar}" th:object="${employee}">
            <input th:field="*{employee_id}" name="id" type="hidden"/>
            <input type="hidden" id="hire_date" th:field="*{hire_date}">
            <div class="row">
                <div class="form-group col-6">
                    <label for="first_name">Nombre</label>
                    <input th:field="*{first_name}" type="text" class="form-control" name="first_name" id="first_name">
                </div>
                <div class="form-group col-6">
                    <label for="last_name">Apellido</label>
                    <input th:field="*{last_name}" type="text" class="form-control" name="last_name" id="last_name">
                </div>
            </div>

            <div class="form-group">
                <label for="email">Correo Electónico</label>
                <input th:field="*{email}" type="text" class="form-control" name="email" id="email">
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="first_name">Puesto</label>
                    <select class="form-control" th:field="*{job}">
                        <option th:each="trabajo: ${listaTrabajos}"
                                th:value="${trabajo.job_id}"
                                th:text="${trabajo.job_title}"
                                th:selected="${trabajo.job_id == employee.job.job_id}"></option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="salary">Salario</label>
                    <input th:field="*{salary}" type="text" class="form-control" name="salary" id="salary">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="manager_id">Jefe</label>
                    <select class="form-control" name="manager_id" id="manager_id">
                        <option th:each="jefe: ${listaDepartamentosconJefes}"
                                th:value="${jefe.employees.employee_id}"
                                th:text="${jefe.employees.first_name} + ' ' + ${jefe.employees.last_name}"
                                th:selected="${jefe.employees.employee_id == employee.employees.employee_id}">
                        </option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="first_name">Departamento</label>
                    <select class="form-control" th:field="*{department}">
                    <option th:each="departamento: ${listaDepartamentos}"
                            th:value="${departamento.department_id}"
                            th:text="${departamento.department_name}"
                            th:selected="${departamento.department_id == employee.department.department_id}"></option>
                    </select>
                </div>
            </div>
            <a th:href="@{/employees}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </body>
</html>