<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Lista de Empleados')"></head>
<body>
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar( active = 'Empleados')"></nav>
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{/employees/nuevo}">Nuevo Empleado</a>
        <div th:if="${msg2!=null}" class="alert alert-warning" th:text="${msg2}"></div>
        <div th:if="${msg1!=null}" class="alert alert-success" th:text="${msg1}"></div>
        <div th:if="${msg3!=null}" class="alert alert-danger" th:text="${msg3}"></div>
        <div th:if="${nohayjefe!=null}" class="alert alert-danger" th:text="${nohayjefe}"></div>

        <form class="form-group mb-3" method="post" th:action="@{/employees/buscar}">
            <div class="input-group-append">
                <input class="form-control mr-2" placeholder="Texto a buscar" name="name">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
                <a class="btn btn-outline-danger ml-2" th:href="@{/employees}">Limpiar</a>
            </div>
        </form>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Puesto</th>
                    <th>Departamento</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, info : ${listaEmpleados}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${employee.first_name}"></td>
                    <td th:text="${employee.last_name}"></td>
                    <td th:text="${employee.job.job_title}"></td>
                    <td th:text="${employee.department.department_name}"></td>
                    <td th:text="${employee.department.location.city}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/employees/editar?id=' + ${employee.employee_id}}">Editar</a>
                    </td>
                    <td><a class="btn btn-danger" th:href="@{'/employees/borrar?id=' + ${employee.employee_id}}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>