<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Historial de Empleados')"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Historial')"></nav>
    <h1>Historial de Empleados</h1>
    <form class="form-inline mb-3" method="post" th:action="@{/historial/buscar}">
        <div class="input-group-append">
            <input class="form-control mr-2" placeholder="Texto a buscar" name="name">
            <button class="btn btn-outline-info" type="submit">Buscar</button>
            <a class="btn btn-outline-danger ml-2" th:href="@{/historial/historial}">Limpiar</a>
        </div>
    </form>

    <table class="table table-sm">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Fecha Inicio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="historial: ${listaHistorial}">
            <td th:text="${historial.employees.first_name}"></td>
            <td th:text="${historial.employees.last_name}"></td>
            <td th:text="${historial.job.job_title}"></td>
            <td th:text="${historial.department.department_name}"></td>
            <td th:text="${historial.start_date}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>